# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    # Void as typehints are available only on PHP 7.1+
    checkMissingIterableValueType: false
    paths:
        - ./
    excludePaths:
        - vendor/
        - tests/
        - node_modules/
    bootstrapFiles:
        # CMB2 is loaded in this file
        - tests/phpstan/bootstrap.php
    scanFiles:
        - product-importer.php
        - uninstall.php
        - vendor/inpsyde/wp-context/src/WpContext.php
    ignoreErrors:

